* {
  font-family: "Poppins", serif;
  margin: 0px;
  padding: 0px;
}
.box1 {
  height: 400px;
  /* width: 500px; */
  background-color: rebeccapurple;
  color: whitesmoke;
  background: url("assets/car1.jpg");
  background-repeat: no-repeat;

  /* background-position-x: 200px;
  background-position-y: 100px; */
  background-size: cover;
  /* opacity: 0.9; */
}
/* 0.1 - 0.9 */
.box2 {
  background-image: url("assets/car2.jpg");
  height: 200px;
  width: 200px;
  background-repeat: no-repeat;
  opacity: 0.5;
}

.box3 {
  height: 200px;
  width: 700px;
  background-color: blanchedalmond;
  border: solid 10px black;
  padding: 10px 20px 5px 10px; /* T R B L*/
  margin-top: 10px;
  margin-left: 50px;
  border-top-color: black;
  border-bottom-color: blue;
  border-right-color: antiquewhite;
  border-left-color: aquamarine;
  border-radius: 50px;
}
